
<h2>Laske desimaalilukujen summa  <small ng-show="step <= maxStep">{{step}}/{{maxStep}}</small></h2>

<span td-init>
step = 1;
maxStep = 3;
</span>

<div td-reload-on="step">
    <span td-init>
        a = MathUtils.rand(10) + MathUtils.randRange(1, 10) / 10;
        b = MathUtils.rand(10) + MathUtils.randRange(1, 10) / 10;
        solution = a + b;
        question = [a, " + ", b, " = ?"].join("");
    </span>
</div>

<div class="row">
    <div class="col-sm-9 question">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 ng-show="step <= maxStep" td-math="question"></h1>
            </div>
        </div>
    </div>
    <div class="col-sm-3 answer">
        <div ng-show="step <= maxStep" class="panel panel-default">
            <div class="panel-body">
                <form>
                    <input ng-model="answer" type="number" step="0.1" placeholder="Syötä vastaus" class="form-control" autofocus novalidate/>
                    <button ng-click="step = step + check(answer, solution)" type="submit" class="btn btn-block btn-success">Vastaa</button>
                </form>
            </div>
        </div>
        <button ng-show="step > maxStep" ng-click="finish()" class="btn btn-block btn-success">Valmis!</button>
    </div>
</div>
