
<h2>Mitkä ovat pisteen x-ja y-koordinaatit? <small ng-show="step <= maxStep">{{step}}/{{maxStep}}</small></h2>

<span td-init>
    step = 1;
    maxStep = 5;
</span>

<div td-reload-on="step">
    <span td-init>
        x = MathUtils.rand(10);
        y = MathUtils.rand(10);
        circle = {points:[[x, y]], r:0.2};
        shapes = [circle];
        solution = [x, y];
    </span>
</div>

<div class="row">

    <div class="col-sm-9 question">
        <div class="coord-container">
            <td-coords td-bounds="12,12,-2,-2" td-aspect="1" td-shapes="shapes" />
        </div>
    </div>

    <div class="col-sm-3 answer">
        <div ng-show="step <= maxStep">
            <form>
                <input ng-model="ansX" type="number" placeholder="x" class="form-control" novalidate/>
                <input ng-model="ansY" type="number" placeholder="y" class="form-control" novalidate/>
                <button ng-click="step = step + check([ansX, ansY], solution)" type="submit" class="btn btn-lg btn-success">Vastaa</button>
            </form>
        </div>
        <button ng-show="step > maxStep" ng-click="finish()" class="btn btn-lg btn-success">Valmis!</button>
    </div>
</div>