#container {
    background-color: #000;
    position: absolute;
    width: 70%;
    height: 50%;
}

.box-spinner {
    height: 20%;
    width: 30%;
    font: 20px arial, sans-serif;
    color: #7ABED8;
    border: 1px solid #FFF;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;

    -webkit-animation: spin-anim 4s linear infinite;
    -moz-animation: spin-anim 4s linear infinite;
    animation: spin-anim 4s linear infinite;
}

@-webkit-keyframes spin-anim { 100% { -webkit-transform: rotate(360deg); }}
@keyframes spin-anim { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}
