.coord-container {
    height: 100%;
}

svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

line.thick {
    stroke: #494949;
}
