.coord-container {
    height: 100%;
}

svg {
  font: 13px sans-serif;
}

.axis line {
  fill: none;
  stroke: #ddd;
  vector-effect: non-scaling-stroke;
  stroke-width: 2px;
  opacity: 0.6;
  shape-rendering: crispEdges;
}

line.thick {
    stroke: #494949;
}

text.label {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
